gevent==21.12.0
greenlet==1.1.2
grequests==0.6.0
idna==3.3
mistyPy==0.0.4
pyperclip==1.8.2
PySimpleGUI==4.56.0
requests==2.27.1
urllib3==1.26.8
websocket==0.2.1
zope.event==4.5.0
zope.interface==5.4.0
